.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 600px) {
  .game-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.answer-container button {
  margin: 1rem;
}
