.bar {
    border: 1px solid #666;
    height: 10px;
    width: 100%;
    border-radius: 5px;
}

.in {
    height: 100%;
    background-color: #3f51b5;
}

@keyframes fill {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }