body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  font-size: 5rem;
}
.wrapper {
  position: relative;
  border: 2px solid black;
  border-radius: 2rem;
  width: 50%;
  height: 50em;
  margin: auto;
}
.playerNamer {
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 15rem;
  right: 0;
  left: 0;
  width: 50%;
  height: 3rem;
}

.leaderBoard {
  margin: auto;
  position: absolute;
  bottom: 10rem;
  right: 0;
  left: 0;
  width: 50%;
  height: 3rem;
}
.P-wrapper {
  margin: auto;
  padding: 50px;
}
